.centerbackground9 {
  width: 546px;
  height: 865px;
  position: relative;
  border-radius: var(--br-3xl);
  background-color: var(--color-lavender);
  box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.25);
  display: none;
  mix-blend-mode: normal;
  max-width: 100%;
}
.forgot-password1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  background: linear-gradient(#12182b, #12182b), #4f4f4f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4), 0 1px 0 rgba(0, 0, 0, 0.4),
    -1px 0 0 rgba(0, 0, 0, 0.4), 0-1px 0 rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.forgot-password-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) var(--padding-95xl) var(--padding-9xl);
  font-size: var(--font-size-31xl);
}
.email3 {
  margin: 0;
  height: 34px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  z-index: 2;
}
.email-wrapper1 {
  width: 232px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
}
.email-icon-1 {
  height: 32px;
  width: 41px;
  position: relative;
  object-fit: cover;
  mix-blend-mode: normal;
  z-index: 2;
}
.email-icon-1-parent,
.frame-child15 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-child15 {
  width: calc(100% - 41px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 27px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-style: italic;
  font-weight: 700;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
  min-width: 287px;
}
.email-icon-1-parent {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-9xs);
}
.back-button,
.email-input1 {
  align-self: stretch;
  box-sizing: border-box;
}
.email-input1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) 0 var(--padding-3xs);
  max-width: 100%;
}
.back-button {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  z-index: 2;
}
.email-input,
.f-r-a-m-e-r-o-o-t {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.f-r-a-m-e-r-o-o-t {
  align-items: flex-start;
  gap: var(--gap-mid);
}
.message {
  margin: 0;
  height: 34px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  z-index: 2;
}
.title-forgot-pass {
  width: 238px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.messageicon-1 {
  height: 18.1px;
  width: 20px;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.write-a-message {
  border: 0;
  outline: 0;
  display: inline-block;
  font-weight: 700;
  font-family: var(--font-inter);
  font-size: var(--font-size-lg);
  background-color: transparent;
  height: 22px;
  flex: 1;
  position: relative;
  font-style: italic;
  color: var(--color-dimgray);
  text-align: left;
  min-width: 250px;
  max-width: calc(100% - 35px);
  padding: 0;
  z-index: 2;
}
.send-button {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.frame-child16,
.send-button-wrapper {
  align-self: stretch;
  box-sizing: border-box;
}
.send-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-2xl);
  max-width: 100%;
}
.frame-child16 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  z-index: 2;
}
.title-forgot-pass-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-96xl);
  box-sizing: border-box;
  gap: var(--gap-4xl-5);
  max-width: 100%;
}
.backbutton-icon {
  align-self: stretch;
  height: 39px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
  z-index: 2;
}
.back-button1 {
  height: 65px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xl);
  box-sizing: border-box;
}
.buttonsend {
  height: 92px;
  width: 345px;
  position: relative;
  border-radius: var(--br-17xl);
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.send {
  width: 112px;
  position: relative;
  font-size: var(--font-size-23xl);
  font-family: var(--font-fredoka-one);
  color: var(--color-gray-200);
  text-align: center;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 112px;
  z-index: 3;
}
.buttonsend-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-2xl)
    var(--padding-2xl);
  background-color: var(--color-gray-100);
  flex: 1;
  border-radius: var(--br-17xl);
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  min-width: 112px;
  z-index: 2;
}
.buttonsend-parent:hover {
  background-color: var(--color-darkslategray-100);
}
.back-button-parent,
.buttonsend-parent,
.frame-wrapper11 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.back-button-parent {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.frame-wrapper11 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.wait-for-a {
  width: 347px;
  position: relative;
  display: inline-block;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  z-index: 2;
}
.frame-parent34 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  max-width: 100%;
}
.centerbackground-parent4,
.frame-wrapper10 {
  width: 429px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-mini);
}
.centerbackground-parent4 {
  width: 546px;
  border-radius: var(--br-3xl);
  background-color: var(--color-lavender);
  box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  padding: var(--padding-45xl) var(--padding-xl) var(--padding-5xl)
    var(--padding-4xl);
  gap: var(--gap-28xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .forgot-password1 {
    font-size: var(--font-size-21xl);
  }
  .send {
    font-size: var(--font-size-15xl);
  }
  .centerbackground-parent4 {
    padding-top: var(--padding-23xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .centerbackground-parent4 {
    gap: 23px 47px;
  }
}
@media screen and (max-width: 450px) {
  .forgot-password1 {
    font-size: var(--font-size-11xl);
  }
  .email3,
  .message {
    font-size: var(--font-size-xl);
  }
  .send {
    font-size: var(--font-size-6xl);
  }
  .centerbackground-parent4 {
    padding-top: var(--padding-8xl);
    box-sizing: border-box;
  }
}
